#hh{
    text-align: center;
    font-size: 42px !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #26c6da;
    padding: 10px;
    border-radius: 5px;
    color: white; 
} 

.e-schedule .e-vertical-view .e-left-indent-wrap table tbody td {
    background-color: #f5f1f0 !important;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgba(0, 0, 0, 0.87);
}
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td {
    background-color: #f5f1f0 !important;

}
.e-schedule .e-vertical-view .e-time-cells-wrap table td {
    background-color: #f5f1f0;

}

.e-schedule .e-vertical-view .e-work-hours {
    background-color: #f5f1f0;
}