<!-- <p>
  calendar1 works!
</p> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card1">
          <div class="card1-header">
            <div class="col-md-6 offset-md-1">
              <!-- <h1>{{ 'calendar.schedule' | translate }}</h1> -->
              <h1 id="hh">Schedule</h1>
            </div>

            

          </div>
          <div class="card1-body">

            <!-- <div class="col-md-6 offset-md-2" > -->
                  
              <!-- <app-calendar></app-calendar> -->
              

              <!-- <ejs-schedule></ejs-schedule> -->
              <ejs-schedule id="schedule" [eventSettings]="eventSettings" [selectedDate]="setDate" [currentView]="setView"></ejs-schedule>

              <!-- <button [routerLink]="['/calendar']" mat-raised-button type="button" class="btn btn-info">Book</button> -->

            <!-- </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>