<!-- <app-top-menu></app-top-menu> -->
<mat-spinner class="main-spainer" *ngIf="loader.isLoaderShow"></mat-spinner>

<div class="wrapper">
    <div *ngIf="isSidebar" class="sidebar" data-color="danger" data-background-color="white"
        data-image="./assets/img/sidebar-1.jpg" style="z-index: 0;">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel" [class.fullwidth]="!isSidebar">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer hidden></app-footer>
        </div>
    </div>
</div>