<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">

           
    <div class="container-fluid">
        <!-- <app-top-menu></app-top-menu> --> 
        <div class="navbar-wrapper">
            <a class="navbar-brand brand-custom" [routerLink]="['/home']"
                routerLinkActive="router-link-active">{{getTitle()}}</a>
        </div>
        <button mat-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border" hidden>
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>



            

            <ul class="navbar-nav">
                




                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">
                        <i class="material-icons"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link sa-nav" [routerLink]="['/partners']">
                        <!-- <i>Partners</i> -->
                        <i>{{ 'nav.partner' | translate }}</i>

                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link sa-nav" [routerLink]="['/about-us']">
                        <i>{{ 'nav.about' | translate }}</i>
                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link sa-nav" [routerLink]="['/how-works']">
                        <i>How It Works</i>
                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                    <a class="nav-link sa-nav" [routerLink]="['/contact-us']">
                        <i>{{ 'nav.contact' | translate }}</i>
                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer">
                        <a class="nav-link sa-nav" [routerLink]="['/blog-list']">
                            <i>{{ 'nav.blog' | translate }}</i>
                        </a>
                    </li>
                <li class="nav-item" style="cursor: pointer">
                        <a class="nav-link sa-nav" [routerLink]="['/calendar']">
                            <i>{{ 'nav.calendar' | translate }}</i>
                        </a>
                    </li>
                <li hidden class="nav-item" *ngIf="!isLogin" style="cursor: pointer">
                    <a class="nav-link sa-nav" [routerLink]="['/login']">
                        <i>{{ 'nav.login' | translate }}</i>
                    </a>
                </li>

                <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
                    {{currency}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="currencyMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                            <span>{{cur}}</span>
                        </button>
                    </span>
                </mat-menu>

                <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
                    <img [src]="language.image" width="18">
                    <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{language.name}}</span>
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="langMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                            <img [src]="flag.image" width="18"> {{flag.name}}
                        </button>
                    </span>
                </mat-menu>



                <li hidden class="nav-item" style="cursor: pointer" *ngIf="isLogin" (click)="logout()">
                    <a class="nav-link sa-nav">
                        <i>{{ 'nav.logout' | translate }}</i>
                    </a>
                </li>
                <li hidden class="nav-item" style="cursor: pointer" *ngIf="isLogin" [routerLink]="['/user-profile']">
                    <a class="nav-link sa-nav">
                        <i>{{ 'nav.profile' | translate }}</i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons" *ngIf="!currentUser || !currentUser.image">person</i>
                        <img class="person-image" [src]="currentUser.image" *ngIf="currentUser && currentUser.image" />
                        <!-- <span class="notification">5</span> -->
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'nav.someactions' | translate }}</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngIf="isLogin" style="cursor: pointer"
                            [routerLink]="['/user-profile']"> <i class="material-icons" *ngIf="!currentUser || !currentUser.image">person</i>{{ 'nav.profile' | translate }}</a>
                        <a class="dropdown-item" *ngIf="isLogin" style="cursor: pointer"
                            [routerLink]="['/chat-page']"><i class="material-icons" *ngIf="!currentUser || !currentUser.image">message</i> {{ 'nav.chat' | translate }}</a>

                        <a class="dropdown-item" *ngIf="!isLogin" style="cursor: pointer" 
                            [routerLink]="['/login']"><i class="material-icons" *ngIf="!currentUser || !currentUser.image">account_box</i>{{ 'nav.login' | translate }}</a>
                        <a class="dropdown-item" *ngIf="isLogin" (click)="logout()" style="cursor: pointer"><i class="material-icons" *ngIf="!currentUser || !currentUser.image">logout</i>{{ 'nav.logout' | translate }}</a>
                        <!-- <a class="dropdown-item"  (click)="changeLanguage()" style="cursor: pointer">{{language.name}}</a> -->
                        <!-- <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="#">Another Notification</a>
                        <a class="dropdown-item" href="#">Another One</a> -->
                    </div>
                </li>

                <li class="nav-item" hidden>
                    <a class="nav-link" href="#pablo">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'nav.account' | translate }}</span>
                        </p>
                    </a>

                </li>
            </ul>
            
        </div>
    </div>
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mike John responded to your email</a></li>
                        <li><a href="#">You have 5 new tasks</a></li>
                        <li><a href="#">You're now friend with Andrew</a></li>
                        <li><a href="#">Another Notification</a></li>
                        <li><a href="#">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->