.sa-nav {
    font-style: normal !important;
    font-weight: bold !important;
}

.brand-custom {
    color: #26c6da;
    font-size: 2rem;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(38, 198, 218, 0.4);
    background-color: #26c6da;
    color: #FFFFFF;
}

.person-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}