<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{'nav.contact'|translate}}</h4>
          </div>
          <div class="card-body">
            <div class="col-md-10 offset-md-1">
              <h3>
                {{'contact.phone'|translate}} : <strong> {{contact?.phone || 'null'}}</strong>
              </h3>
              <h3>
                {{'contact.email'|translate}} : <strong>{{contact?.email || 'null'}}</strong>
              </h3>
              <h3>
                {{'contact.address'|translate}} : <strong> {{contact?.address || 'null'}}</strong>
              </h3>
            </div>
            <!-- <form [formGroup]="form" ngxsForm="post.contactForm"  (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter name" type="email" formControlName="name">
                    <mat-error *ngIf="form.get('email').hasError('name') && !form.get('name').hasError('required')">
                      Please enter name
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" formControlName="email">
                    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Enter message" type="email" formControlName="note"></textarea>
                    <mat-error *ngIf="form.get('note').hasError('name') && !form.get('note').hasError('required')">
                      Please enter your message
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-info" [disabled]="!form.valid">Submit</button>


              <div class="clearfix"></div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>