<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <div class="col-md-6 offset-md-1">
              <h1>{{'How It Works' | translate}}</h1>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-6 offset-md-1">
              <p>
                {{'aboutus.intro' | translate}}
              </p>
              <mat-icon matSuffix>whatshot</mat-icon>
              <p>
                {{'aboutus.what' | translate}}
              </p>
              <mat-icon matSuffix>where_to_vote</mat-icon>

              <p>
                {{'aboutus.where' | translate}}
              </p>
              <mat-icon matSuffix>calendar_today</mat-icon>

              <p>
                {{'aboutus.when' | translate}}
              </p>
            </div>
            <!-- <div class="col-md-6 offset-md-1">
              <h3>
                Way to use
              </h3>
              <p style="margin-left: 20px">
                {{aboutus.vision}}
              </p>
              <h3> 
                Tips
              </h3>
              <p style="margin-left: 20px">
                {{aboutus.mission}}
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>