<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-6 offset-md-1">
                            <h1>{{'about.aboutus'|translate}}</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-6 offset-md-1">
                            <p>
                                {{'about.description_main'|translate}}
                                <!-- {{aboutus.introduction}} -->
                            </p>
                        </div>
                        <div class="col-md-6 offset-md-1">
                            <h3>
                                Vision
                            </h3>
                            <p style="margin-left: 20px">
                                {{'about.description_vision'|translate}}

                                <!-- {{aboutus.vision}} -->
                            </p>
                            <h3>
                                Mission
                            </h3>
                            <p style="margin-left: 20px">
                                {{'about.description_mission'|translate}}

                                <!-- {{aboutus.mission}} -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>