<!-- Section START -->
<!-- Header Start -->
<!-- <section class="container-fluid main-header">
  <div class="row">
    <div class="col-md-4 side-bar-header wrapper">
      <mat-list>

        <mat-list-item *ngFor="let item of lastChatList" (click)="onSelectChat(item)">
          <mat-icon mat-list-icon><img class="user-image" [src]="item.user.image" alt=""></mat-icon>
          <h4 mat-line>{{item?.user?.name}}</h4>
          <p mat-line> {{item.message}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>

      </mat-list>
    </div>
    <div class="col-md-8 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
      <div class="col-inside-lg decor-default">
        <div class="chat-body">
          <h6>Chat</h6>
          <div class="chat-container" *ngFor="let chat of selectChat">
            <div class="answer left" *ngIf="!chat.isMyMessage">
              <div class="avatar" *ngIf="chat.user">
                <img [src]="chat?.user?.image" alt="User name">
                <div class="status offline"></div>
              </div>
              <div class="name">{{chat?.user?.name}}</div>
              <div class="text">
                {{chat.message}}
              </div>
              <div class="time">{{chat.timestamp | date:'medium'}}</div>
            </div>
            <div class="answer right" *ngIf="chat.isMyMessage">
              <div class="avatar" *ngIf="chat.user">
                <img [src]="chat?.user?.image" alt="User name">
                <div class="status offline"></div>
              </div>
              <div class="name">{{chat?.user?.name}}</div>
              <div class="text">
                {{chat.message}}
              </div>
              <div class="time">{{chat.timestamp | date :'medium'}}</div>
            </div>
          </div>

          <div class="typing-section">
            <div class="row">
              <div class="col-md-10">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter you message" type="text" [formControl]="message">
                </mat-form-field>
              </div>
              <div class="col-md-2" (click)="onSendMessage()" style="cursor: pointer">
                <a > <i class="material-icons">send</i></a>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- END -->

<div class="container">
  <!-- <h3 class=" text-center">Messaging</h3> -->
  <h3 class=" text-center">Message</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <!-- <h4>Recent</h4> -->
            <h4></h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search" hidden>
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list" *ngFor="let lchat of lastChatList" (click)="onSelectChat(lchat)" style="cursor: pointer">
            <div class="chat_people">
              <div class="chat_img" *ngIf="lchat.user && lchat.user.image"> <img style="border-radius: 50%; width: 40px; height:40px;" [src]="lchat.user.image" alt="{{lchat?.user?.name}}"> </div>
              <div class="chat_ib">
                <h5>{{lchat?.user?.name}}<span class="chat_date">{{lchat.timestamp | date}}</span></h5>
                <p>{{lchat.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <span *ngFor="let chat of selectChat">
            <div class="incoming_msg" *ngIf="!chat.isMyMessage">
              <div class="incoming_msg_img" *ngIf="chat.user && chat.user.image"> <img [src]="chat.user.image" style="border-radius: 40%; width: 40px; height:40px;"
                alt="{{chat?.user?.name}}">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{chat.message}}</p>
                  <span class="time_date">{{chat.timestamp | date}}</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="chat.isMyMessage">
              <div class="sent_msg">
                <p>{{chat.message}}</p>
                <span class="time_date"> {{chat.timestamp | date}}</span>
              </div>
            </div>
          </span>
          <div #scrolEndRef></div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" (keydown.enter)="onSendMessage()" placeholder="Type a message" [formControl]="message"/>
            <button class="msg_send_btn" type="button" (click)="onSendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true" ></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>