<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <div class="card"> 
          <div class="card-header card-header-info">
            <h4 class="card-title">{{ 'nav.login' | translate }}</h4>
            <p class="card-category">{{ 'login.completeyourprofile' | translate }}</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form" ngxsForm="auth.loginForm" (ngSubmit)="onSubmit()"> 
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'login.email' | translate }}" type="email" formControlName="email">
                    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                      {{ 'login.peve' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'login.pwd' | translate }}" type="password" formControlName="password">
                  </mat-form-field>
                  <div class="error" *ngIf="error && error.password">
                    {{error?.password}}
                  </div>
                </div> 
                  <a class="forgot-password" [routerLink]="['/resetpwd']">
                    {{ 'login.forgotpwd' | translate }}
                  </a>
              </div> 
              <div class="row">
                <div class="col-md-12" style="display: flex; justify-content: center;">
                  <button mat-raised-button type="submit" style="width: 70%" class="btn btn-info" [disabled]="!form.valid">{{ 'nav.login' | translate }}</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
            <div class="login-btn">
              <div>
                <h4>{{ 'login.ca' | translate }}</h4>
              </div>
              <div>
                <button mat-raised-button type="button" class="btn" [routerLink]="['/sign-up']">{{ 'login.signup' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
