.error{
    color: red;
}.login-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  } 
  .forgot-password{
    color: #3c89ef;
      margin-left: 15px;
  }
  