<div class="main-content">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-10 offset-md-1">
        <h1>Conta</h1>
      </div> -->
      <div class="col-md-10 offset-md-1">
        <div class="card" *ngFor="let contact of contactList">
          <div class="card-header">
            <div class="col-md-8 offset-md-1 ">
              <div class="card-title">
                <h3>{{ contact.name}}</h3>
              </div>
              <p class="card-category">{{contact.email}}</p>

              <p class="card-category">{{contact.date|date}}</p>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-8 offset-md-1">
              <p>{{contact.note}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>