.header_map{
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    border-radius: 3px;
    padding: 15px;
    background: linear-gradient(60deg, #26c6da, #00acc1);
}


.main-image-wraper{
    display: flex;
    width: 100%;
    height: 80vh;
    cursor: pointer;
    justify-content: space-between;
    .big-image-wrapper{
        // width: 50%;
        flex:2 1 auto;
        height: 70vh;
        border: 2px solid;
        overflow: hidden;
        div{
            height: 70vh;
            background-size: cover;
            background-position: center;
            transition: 1s ease ;
            transition-delay: 0.5s;
            &:hover{
                transform: scale(1.05);
            }

        }
    }
    .small-image-wrapper{
        // width: 25%;
        flex:1 1 auto;
        display: flex;
        flex-direction: column;
        .image-wrapper{
            height: 35vh;
           
            border-right:2px solid black;
            border-top: 2px solid black;
            overflow: hidden;
            div{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                transition: 1s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .two{
            border-bottom: 2px solid black;
        }
    }
    .small-image-wrapper:nth-child(0){
        border:3px sold red;
    }
    .side-image{
        background: url(../../../assets/img/image-rant-1.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    }
    .side-text{
        width: 40%;
        color:#fff;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #dadada;
        color: #484343;
        text-align: center;
        padding: 20px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    }
}
.description{
    margin: 30px;
    background: #fff;
    padding: 23px;
    text-align: center;
    color: #616161;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-bottom: 4px solid rgba(0,0,0,0.5);

}
.thumbnail-image{
    width: 100%;
    height: 177px;
    background-size: cover;
}
.card-body{
    overflow: hidden;
    .thumbnail{
        width: 100%;
        height: 100%;
        background-size:cover; 
        background-color: blue;
    }    
}
.gallary-section{
    margin-left:150px;
    margin-right: 150px;
    margin-top:70px;
}
.card-body.section{
    min-height:  142px
}

.full-view{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .left-move{

        cursor: pointer;
    }
    .right-move{
        cursor: pointer;
    }
    .image{
        width: 80%;
        height: 80%;
        background-size: cover;

    }
    .black-drop{
        background: rgba(0,0,0,0.5);
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}
.per-night{
    h3{
        display: inline;
        font-weight: bold;
    }
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.avitar-wrapper{
    display: flex;
    flex-direction: column;
    height: 64px;
    position: relative;
    .avitar{
        width: 64px;
        height: 64px;
        position: absolute;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      
    }
    .title{
        white-space: nowrap;
        position: absolute;
        bottom: -27px;
        text-align: center;
        max-width: 100px;
        /* background: blue; */
        overflow: hidden;
        text-overflow: ellipsis;
        left: -20px;
        text-align: center;
        min-width: 100px;
    }
}

.chat-section{
    position: fixed;
    height: 320px;
    width: 320px;
    bottom: 35px;
    right: 30px;
    z-index: 1000;
}
.chat-card{
    width: 100%;
    height: 100%;
}
.chat-message{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    padding: 2px;
    input{
        outline: none;
        border: none;
        width: 100%;
        padding: 2px 10px;
    }
}
.cancel-btn{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

.my-message{
    display: inline-block;
    padding: 5px 10px;
    display: block;
    width: 100%;
    text-align: right;
    background: #eee;
}
.chat-icon{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 53px;
    cursor: pointer;
    z-index: 10;
    color:#26c6da;
}
.btn-wrapper.paypal-button-label-checkout{
    display: flex !important;
    justify-content: center !important;
}
.message-wrapper{
    overflow-y: auto;
    max-height: 205px;
}
.all-icon-wraper{
    display: flex;
    justify-content: center;
}
.all-icon-wraper .icon-wraper{

    width: 35px;
    height: 35px;
    background: #616161;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #00acc1;
    color:white;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    .material-icons{
        font-size: 20px;
    }
}

// .all-icon-wraper .delete{
//     color: red
// }
// .all-icon-wraper .edit{
//     color: #00acc1;
// }