<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="post && this.post.id" class="all-icon-wraper">
            <div class='icon-wraper edit' *ngIf="canEdit" [routerLink]="['/post',post?.id]">
                <i class="material-icons">edit</i>
            </div>
            <!-- <button mat-raised-button class="btn btn-info pull-right" *ngIf="canEdit" [routerLink]="['/post',post?.id]"
                routerLinkActive="router-link-active">
                
            </button> -->
            <div class='icon-wraper delete' *ngIf="canEdit" (click)="onDelete()">
                <i class="material-icons">delete</i>
            </div>
        </div>
        <div *ngIf="post && this.post.id">
            <!-- <button mat-raised-button class="btn btn-danger pull-right" *ngIf="canEdit" (click)="onDelete()"
                routerLinkActive="router-link-active"> -->

            <!-- </button> -->
        </div>
        <div class="main-image-wraper" *ngIf="post && post.imageList">
            <!-- <div class="side-image" [style.background-image]="'url('+(post)?.imageList[0]+')'">
            </div>
            <div class="side-text">
                <h4>{{(post)?.title}}</h4>
            </div> -->
            <div class="big-image-wrapper" *ngIf="post?.imageList.length>0">
                <div [style.background-image]="'url('+(post)?.imageList[0]+')'" (click)="onShow(0)">

                </div>
            </div>
            <div class="small-image-wrapper" *ngIf="post?.imageList.length>2 && !this.isMobileMenu()">
                <div class="image-wrapper">
                    <div [style.background-image]="'url('+(post)?.imageList[1]+')'" class="one" (click)="onShow(1)">
                    </div>
                </div>
                <div class="image-wrapper two">
                    <div [style.background-image]="'url('+(post)?.imageList[2]+')'" (click)="onShow(2)">
                    </div>
                </div>
            </div>
            <div class="small-image-wrapper" *ngIf="post?.imageList.length===5  && !this.isMobileMenu()">
                <div class="image-wrapper">
                    <div [style.background-image]="'url('+(post)?.imageList[3]+')'" class="one" (click)="onShow(3)">
                    </div>
                </div>

                <div class="image-wrapper two">
                    <div [style.background-image]="'url('+(post)?.imageList[4]+')'" (click)="onShow(4)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="row">
                    <div class="col-md-10" style="min-height: 100px">
                        <h2>{{post?.title}}</h2>
                    </div>
                    <div class="col-md-2" *ngIf="post && post.user">
                        <div class="avitar-wrapper" [routerLink]="['/user-detail',post?.user?.UID]"
                            routerLinkActive="router-link-active" style="margin-bottom: 40px">
                            <div class="avitar" [style.background-image]="'url('+post?.user?.image+')'">
                            </div>
                            <div class="title">{{post?.user?.name}}</div>
                        </div>

                    </div>
                </div>
                <div class="col-md-10">
                    <h5><strong> {{post?.street}} {{post?.postalCode}} {{post?.city}} {{post?.country}}</strong></h5>
                </div>
                <!-- <hr /> -->
                <div>
                    <p>{{post?.description}}</p>
                </div>
            </div>




            <div class="col-md-5">
                <div class="header_map">
                    <div class="per-night card-title">
                        <h3 style="font-size: 1.5625rem;
                        line-height: 1.4em;
                        margin: 20px 0 10px;
                        color: white;
                        text-align: center !important;">Where we are located </h3>
                    </div>

                </div>

                <iframe width='100%' height='100%' id='mapcanvas'
                    src='https://maps.google.com/maps?q=Marienplatz,%München%Germany&Roadmap&z=10&ie=UTF8&iwloc=&output=embed'
                    frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
                    <div class='zxos8_gm'><a href='https://www.codeguesser.co.uk/tui.co.uk'>all TUI UK discount
                            codes</a></div>
                    <div style='overflow:hidden;'>
                        <div id='gmap_canvas' style='height:100%;width:700px;'></div>
                        <div><small>Powered by <a href='https://www.embedgooglemap.co.uk'>Embed Google
                                    Map</a></small>
                        </div>
                    </div>
                </iframe>

            </div>


            <!-- <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title ">{{(post)?.type}} Detail</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Rate Per Night</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>City</th>

                            </tr>
                            <tr>
                                <td>€ {{(post)?.ratePerNight}}</td>
                                <td>{{(post)?.type}}</td>
                                <td>{{(post)?.date}}</td>
                                <td>{{(post)?.city}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title ">User Detail</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                            <tr>
                                <td>{{(post)?.user?.name}}</td>
                                <td>{{(post)?.user?.email}}</td>
                                <td>{{(post)?.user?.phone}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-12">
                <div class='card'>
                    <div class="card-header">
                        <h4 class="card-title ">Description</h4>
                    </div>
                    <div class="card-body">
                        <h5>{{(post)?.description}}</h5>
                    </div>
                </div>
            </div> -->
        </div>
        <div style="margin-top: 120px;">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="per-night card-title">
                            <h3>€{{post?.rateValue}} </h3> <span>{{post?.rateType}}</span>
                        </div>

                    </div>
                    <div class="card-body" *ngIf="post">
                        <form>
                            <div class="row">
                                <!-- <div class="col-md-10 offset-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Check in" type='datetime-local'
                                            *ngIf="post?.rateType===this.rateType.ratePerHour"
                                            [formControl]="startDate">
                                        <input matInput placeholder="Check in" type='date'
                                            *ngIf="post?.rateType===this.rateType.ratePerNight"
                                            [formControl]="startDate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Check out" type='datetime-local'
                                            *ngIf="post?.rateType===this.rateType.ratePerHour" [formControl]="endDate">
                                        <input matInput placeholder="Check out" type='date'
                                            *ngIf="post?.rateType===this.rateType.ratePerNight"
                                            (input)="onChangeEndDate()" [formControl]="endDate">

                                    </mat-form-field>
                                </div> -->
                                <!-- <app-calendar1></app-calendar1> -->
                                <!-- <ejs-schedule id="schedule" [eventSettings]="eventSettings" [selectedDate]="setDate" [currentView]="setView"></ejs-schedule> -->
                               
                                <ejs-schedule #scheduleObj width='100%' height='550px' [selectedDate]='setDate'
                                    [currentView]='setView' [eventSettings]='eventSettings'
                                    (popupOpen)='onPopupOpen($event)' (dataBinding)="onDataBinding($event)">
                                    <ng-template #editorTemplate>
                                        <table class="custom-event-editor" width="100%" cellpadding="5">
                                            <tbody>
                                                <!-- <tr>
                                                <td class="e-textlabel">Title</td>
                                                <td colspan="4">
                                                    <input id="Subject" class="e-field e-input" type="text" value="" name="Subject" style="width: 100%" />
                                                </td>
                                            </tr> -->
                                                <tr>
                                                    <td class="e-textlabel">Number of customers</td>
                                                    <td colspan="4">
                                                        <input type="text" id="EventType" name="EventType"
                                                            class="e-field" style="width: 100%" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="e-textlabel">From</td>
                                                    <td colspan="4">
                                                        <input id="StartTime" class="e-field" type="text"
                                                            name="StartTime" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="e-textlabel">To</td>
                                                    <td colspan="4">
                                                        <input id="EndTime" class="e-field" type="text"
                                                            name="EndTime" />
                                                    </td>
                                                </tr>

                                                <!-- <tr>
                                                <td class="e-textlabel">Details</td>
                                                <td colspan="4">
                                                    <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                                                </td>
                                            </tr> -->
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ejs-schedule>
                            </div>
                            <div [hidden]="!totalPrice">
                                <h3>€ {{totalPrice}}</h3>
                            </div>
                            <div [hidden]="!isLoginMessage" style="color: red; font-size: 15px">
                                <h5>You must login</h5>
                            </div>
                            <div [hidden]="isLoginMessage" class="btn-wrapper" style="margin-top: 30px;">
                                <!-- <button [routerLink]="['/calendar']" mat-raised-button type="button" -->
                                <button id="paypal-checkout-btn" mat-raised-button type="button" class="btn btn-info">Book</button>
                                <span id="paypal-checkout-btn"></span>

                            </div>

                        </form>

                    </div>

                </div>
                <!-- <div fxFlex="100" fxFlex.gt-sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true">
                        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
                    </agm-map>
                </div> -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1>Reviews</h1>
                    </div>
                    <div class="card-body">
                        <div class="feedback-wrapper" *ngFor="let item of feedbacks; let l=last">
                            <div class="date">{{item.date | date}}</div>
                            <div class="comment">
                                <p>
                                    {{item.postReview}}
                                </p>
                            </div>
                            <div class="user-detail">
                                {{item?.reviewFromUser?.name}}
                            </div>
                            <hr *ngIf="!l">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='full-view' *ngIf="isViewerShow">
    <svg class="left-move " (click)="move(-1)" viewBox="0 0 18 18" role="presentation" aria-hidden="true"
        focusable="false" style="height: 4.8em; width: 4.8em; fill: rgb(255, 255, 255);">
        <path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
            fill-rule="evenodd"></path>
    </svg>
    <div class='image' [style.background-image]="'url('+selectedImageUrl+')'" (click)="move(1)">
    </div>
    <div class="black-drop" (click)="onHide()">

    </div>
    <svg class="right-move" (click)="move(1)" viewBox="0 0 18 18" role="presentation" aria-hidden="true"
        focusable="false" style="height: 4.8em; width: 4.8em; fill: rgb(255, 255, 255);">
        <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
            fill-rule="evenodd"></path>
    </svg>
</div>

<i class="material-icons chat-icon" *ngIf="!isChatBoxShow && isLogin && !canEdit" (click)="toggleChatBox()">
    chat
</i>
<div class="chat-section" [hidden]="!isChatBoxShow">
    <div class="card chat-card">
        <div class="card-header">
            <h4 class="card-title">{{post?.user?.name}}</h4>
            <div class="cancel-btn" (click)="toggleChatBox()">
                <i class="material-icons">
                    cancel
                </i>
            </div>

        </div>
        <div class="card-body">
            <div class="message-wrapper">
                <div class="message-container" *ngFor="let mesg of chat; let l:last">
                    <div class="my-message" *ngIf="mesg.isMyMessage">
                        {{mesg.message}}
                    </div>
                    <div class="replay" *ngIf="!mesg.isMyMessage">
                        {{mesg.message}}
                    </div>
                </div>
                <div #scrolEndRef></div>
            </div>


            <div class="chat-message">
                <input placeholder="Type a message" (keydown.enter)="onSendMessage()" type='text'
                    [formControl]="messageControl"> <i style="cursor: pointer" class="material-icons"
                    (click)="onSendMessage()">
                    send
                </i>
            </div>
        </div>
    </div>
</div>