<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="purchase.length===0">
        {{ 'mp.p' | translate }}
      </div>
      <div style="cursor: pointer" class="col-md-4 col-lg-3" *ngFor="let item of purchase"
        [routerLink]="['/detail',item.id]">
        <div class="card card-profile sa-card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{item.type}}</h4>
          </div>
          <div class="card-body">
            <div width="100%" *ngIf="item.imageList">
              <div class="thumbnail-image" [style.background-image]="'url('+item.imageList[0]+')'"></div>
            </div>
            <h6 class="card-category text-gray">{{item.title}}</h6>
            <h6 class="card-category text-gray"><strong>Per Night</strong> : € {{item.rateValue}} {{item.rateType}}</h6>
            <h6 class="card-category text-gray"><strong>Total Cost</strong> : € {{item.totalCost}}</h6>
            <h6 class="card-category text-gray"><strong>From</strong> : {{item.startDate | date}} </h6>
            <h6 class="card-category text-gray"><strong>To</strong> : {{item.endDate | date}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>