.main-image-wraper{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    margin-top: -25px;
    margin-bottom: 16px;
    position: relative;
}
 /* header START */
 .cont-head{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
   }
.main-image{
    width: 96vw;
    height: 100vh;
}
.img-div-contenor{
    margin-top: 5rem;

}
.description{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    h1 {
        color: #fff;
    }
}
.sa-card{
    min-height: 345px;
}

.thumbnail-image{
    width: 100%;
    height: 177px;
    background-size: cover;
}


