<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-6 offset-md-1">
                            <h1>{{ 'partner.opartner' | translate }}</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-6 offset-md-2">
                            <a href="https://www.allianz-vor-ort.de/landingpage/zsm/25496435-642a-4508-90b6-613840ab9cac" target="_blank">
                                <img src="../../assets/logo-white.svg" width="200px">
                            </a>
                        </div>
                        <p style="padding: 30px;">{{ 'partner.description' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>