<div class="container-fluid" style="margin-top:60px;">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="title" placeholder="{{ 'landing.what' | translate }}" type="search">
                            <mat-icon matSuffix>title</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="city" placeholder="{{ 'landing.where' | translate }}" type="search">
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="{{ 'landing.when' | translate }}">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-search">
                <div class="search-button" (click)="onFilter()">
                    <mat-icon class="search-button-icon">search</mat-icon>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12">


                <p class="category">
                    <mat-icon>category</mat-icon>{{ 'landing.ac' | translate }}
                </p>
                <!-- <p class="gp-new-homepage-logos__subtitle">With thousands of classes to choose from, it's easy to find an activity
          you love, or try something new</p> -->

                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;"  class="gp-activities__icon" src="/assets/icons/yoga.png" (click)="yoga()"/></a>
                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;" class="gp-activities__icon" src="/assets/icons/pilates.png" (click)="pilates()"/></a>

                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;" class="gp-activities__icon" src="/assets/icons/martial_arts.png" (click)="martial_arts()"/></a>
                <style type="text/css">
                    #mobileshow {
                        display: block;
                    }
                    
                    @media screen and (max-width: 500px) {
                        #mobileshow {
                            display: none;
                        }
                        a {
                            padding: 2px;
                            font-size: 12px;
                            color: white !important;
                            text-align: center !important;
                            text-decoration: none;
                        }
                    }
                </style>
                <br id="mobileshow">
                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;" class="gp-activities__icon" src="/assets/icons/dance.png" (click)="dance()"></a>

                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;" class="gp-activities__icon" src="/assets/icons/fitness.png" (click)="fitness()"></a>
                <a><img style="border-radius: 10px;cursor: pointer;box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #F5F1F0;" class="gp-activities__icon" src="/assets/icons/massage.png" (click)="massage()"></a>

            </div>
        </div>

        <!-- <mat-icon class="search-button-icon">accessibility_new</mat-icon>
    <i class="material-icons">accessibility_new</i> -->

    </form>









    <!-- <div class="col-sm-12 col-xs-12"><a href="/classes?lesson_filters%5Bactivities%5D%5B%5D=1" target="_blank"><img
        class="gp-activities__icon"
        src="/assets/categories/category1.png"></a><a
      href="/classes?lesson_filters%5Bactivities%5D%5B%5D=435" target="_blank"><img class="gp-activities__icon"
        src="/assets/categories/category2.png"></a><a
      href="/classes?lesson_filters%5Bactivities%5D%5B%5D=23" target="_blank"><img class="gp-activities__icon"
        src="/assets/categories/category3.png"></a><a
      href="/classes?lesson_filters%5Bactivities%5D%5B%5D=65" target="_blank"><img class="gp-activities__icon"
        src="/assets/categories/category4.png"></a><a
      href="/classes?lesson_filters%5Bactivities%5D%5B%5D=81" target="_blank"><img class="gp-activities__icon"
        src="/assets/categories/category5.png"></a><a
      href="/classes?lesson_filters%5Bactivities%5D%5B%5D=2" target="_blank"><img class="gp-activities__icon"
        src="/assets/categories/category6.png"></a>
  </div> -->
    <!-- <div class="col-sm-12 col-xs-12">
    <a><img class="gp-activities__icon" src="/assets/categories/category1.png"></a>
    <a><img class="gp-activities__icon" src="/assets/categories/category2.png"></a>
    <a><img class="gp-activities__icon" src="/assets/categories/category3.png"></a>
    <br>
    <a><img class="gp-activities__icon" src="/assets/categories/category4.png"></a>
    <a><img class="gp-activities__icon" src="/assets/categories/category5.png"></a>
    <a><img class="gp-activities__icon" src="/assets/categories/category6.png"></a>
  </div> -->















    <div class="gp-new-homepage__content-container">
        <div class="gp-new-homepage__tagline">{{ 'landing.qvoot' | translate }}</div>
    </div>
    <div class="gp-new-homepage__bg-container"></div>
    <!-- <div hidden class="gp-activities__btn-container" *ngIf=false> -->
    <div class="gp-activities__btn-container" *ngIf="!isLogin">
        <p>{{ 'landing.registering' | translate }}</p>
        <a [routerLink]="['/sign-up']" id="activities-btn">
            <p class="gp-button--green">{{ 'landing.signup' | translate }}</p>
        </a>
    </div>

    <hr _ngcontent-c2="">
    <h2 class="gp-new-homepage-logos__title">{{ 'landing.tnsc' | translate }}</h2>
    <div class="row">
        <div style="cursor: pointer" class="col-md-4 col-lg-3" *ngFor="let item of filterPostList; let i = index" [routerLink]="['/detail',item.id]">
            <div class="card card-profile sa-card" *ngIf="i < 16">
                <div class="card-header card-header-info">
                    <h4 class="card-title">{{item.type}}</h4>
                </div>
                <div class="card-body">
                    <div width="100%" *ngIf="item.imageList">
                        <div class="thumbnail-image" [style.background-image]="'url('+item.imageList[0]+')'"></div>
                    </div>
                    <h6 class="card-category text-gray">{{item.title}}</h6>
                    <h6 class="card-category text-gray">€ {{item.rateValue}} {{item.rateType}}</h6>
                </div>
            </div>
        </div>
    </div>

    <hr _ngcontent-c2="">
    <h2 class="gp-new-homepage-logos__title">{{ 'landing.tmbc' | translate }}</h2>
    <div class="row">
        <div style="cursor: pointer" class="col-md-4 col-lg-3" *ngFor="let item of filterPostList; let i = index" [routerLink]="['/detail',item.id]">
            <div class="card card-profile sa-card" *ngIf="i < 4">
                <div class="card-header card-header-info">
                    <h4 class="card-title">{{item.type}}</h4>
                </div>
                <div class="card-body">
                    <div width="100%" *ngIf="item.imageList">
                        <div class="thumbnail-image" [style.background-image]="'url('+item.imageList[0]+')'"></div>
                    </div>
                    <h6 class="card-category text-gray">{{item.title}}</h6>
                    <h6 class="card-category text-gray">€ {{item.rateValue}} {{item.rateType}}</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
          <h4 class="display-3 font-weight-bold text-white">Just follow the picture above to tour our site</h4>
          <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then
            thaws every summer, and that process will continue whatever happens.</p>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3 class="display-3 font-weight-bold text-white">How it works</h3>
            <p class="lead text-italic text-white">Don't let your uses guess by attaching tooltips and popoves to any
              element. Just make sure you enable them first via JavaScript.</p>
            <p class="lead text-italic text-white">The kit comes with three pre-built pages to help you get started
              faster. You can change the text and images and you're good to go.</p>
            <p class="lead text-italic text-white">The kit comes with three pre-built pages to help you get started
              faster. You can change the text and images and you're good to go.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful
              websites</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

    <div style="text-align: center" *ngIf="!filterPostList.length && isMessageShow">
        <h4>{{ 'landing.niwf' | translate }}</h4>
    </div>
    <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
            <h2 class="gp-new-homepage-logos__title">{{ 'landing.tfi' | translate }}</h2>
            <p class="lead text-muted">{{ 'landing.tfic' | translate }}</p>
        </div>
    </div>

    <div class="row" style="">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
                <img src="./assets/img/faces/team-1-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                    <h5 class="title">
                        <span class="d-block mb-1">Ryan Tompson</span>
                        <small class="h6 text-muted">The famous Martial Art Coach</small>
                    </h5>
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
                <img src="./assets/img/faces/team-2-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                    <h5 class="title">
                        <span class="d-block mb-1">Romina Hadid</span>
                        <small class="h6 text-muted">The famous yoga instructor in China</small>
                    </h5>
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
                <img src="./assets/img/faces/team-3-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                    <h5 class="title">
                        <span class="d-block mb-1">Alexander Smith</span>
                        <small class="h6 text-muted">The famous body building coach</small>
                    </h5>
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
                <img src="./assets/img/faces/team-4-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                    <h5 class="title">
                        <span class="d-block mb-1">John Doe</span>
                        <small class="h6 text-muted">The famous Dance Instructor</small>
                    </h5>
                    <div class="mt-3">
                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gp-activities__btn-container">
        <p>{{ 'landing.registering' | translate }}</p>

        <a [routerLink]="['/sign-up']" id="activities-btn" *ngIf="!isLogin">
            <p class="gp-button--green">{{ 'landing.signup' | translate }}</p>
        </a>
    </div>
    <hr _ngcontent-c2="">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
        <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center">
            <h3 class="fw-500">Subscribe our Newsletter</h3>
            <h4 class="fw-300 secondary-color">{{ 'landing.subscribe' | translate }}</h4>
        </div>
        <!-- <form [formGroup]="form" ngxsForm="auth.loginForm"> -->

        <form [formGroup]="form1" method="get" class="subscribe-search-form" fxLayout="row" fxFlex="100" fxFlex.gt-sm="42.4" ngClass.sm="mt-2" ngClass.xs="mt-2">
            <!-- <input type="text" placeholder="Your email address..." fxFlex> -->
            <input matInput placeholder="Your email address..." type="email" formControlName="email">
            <button mat-raised-button style="width: 150px;" type="button" class="mat-elevation-z0 text-muted" (click)="onsubscribe()">{{ 'landing.sub' | translate }}</button>
        </form>
    </div>
    <!-- <div class="row">
    <div class="col-lg-6">
      <p class="text-primary font-weight-light mb-2">Thank you for visiting our website!</p>
    </div>
  </div> -->









    <div class="container" style="background-color: #00BCD4; padding: 0px;">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6">
                <div _ngcontent-c6="" style="color: white !important;" class="navbar-wrapper"><a _ngcontent-c6="" class="navbar-brand brand-custom router-link-active" routerlinkactive="router-link-active" ng-reflect-router-link="/home" ng-reflect-router-link-active="router-link-active" href="/home">Qvoot</a>
                </div>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper">
                <a target="_blank" href="https://twitter.com" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="https://facebook.com" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://instagram.com" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
                    <i class="fa fa-instagram"></i>
                </a>
                <a target="_blank" href="https://linkedin.com" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">

                    <a>&copy; {{test | date: 'yyyy'}} Qvoot Team.</a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end" style="float: none; display:inline-flex; text-align: center;">
                    <li class="nav-item">
                        <a [routerLink]="['/about-us']" class="nav-link">{{ 'nav.about' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/how-works']" class="nav-link">{{ 'How It Works' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/partners']" class="nav-link">{{ 'landing.op' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/blog-list']" class="nav-link">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/contact-us']" class="nav-link">{{ 'nav.contact' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>