.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: center !important;
}
.brand-custom[_ngcontent-c6] {
  font-size: 2rem;
  margin-top: 10px;
  color: white;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  // align-items: center !important;
}

a {
  // padding: 10px;
  font-size: 20px;
  color: white !important;
  text-align: center !important;
  float: none;
  text-decoration: none;
}
a {
  background-color: transparent;
}
img {
  max-width: 100%;
  width: 120px;
  margin: 3px;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}

.form{
  float: left;
}











.subscribe-block{
  padding: 16px 0 32px 0;
  text-align: center;
  h1, h3{
      line-height: 1;
  }
  h1{
      margin-bottom: 6px;
  }
  .subscribe-search-form{
      height: 50px;
      // padding: 0 16px;
      input[type=text]{
          border: 0;
          outline: none;
          padding: 0 25px;
          font-size: 16px;
          height: 35px;
          width: 200px;
          background-color: rgb(245, 241, 241);
      }
      button{
        color:white !important;
        background-color: #26c6da !important;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-radius: 4px !important;
        margin-top: 40px;
        width: 115px;
        text-align: center;
        text-transform: uppercase;
          font-size: 16px;
          // padding: 0 24px;
          border-radius: 0;
          margin-top: 10px;
      }
  }
}
.gp-new-homepage__content-container {
  width: 300px;
  left: 18%;
  background-image: linear-gradient(rgba(247,247,247,0.7), rgba(247,247,247,0), #F7F7F7, rgba(247,247,247,0.7));
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.gp-new-homepage__do-more-text .exercise-label {
  // color: #75c58c;
  margin: 0;
}

.gp-new-homepage__do-more-text ul li {
  list-style-type: none;
  font-family: "BebasNeue", "Bebas", "sans-serif";
  font-size: 64px;
  line-height: 0.9;
}

.gp-new-homepage__do-more-text .exercise-underline {
  max-width: 100%;
  // background-color: #75c58c;
  height: 5px;
  margin: 0;
  padding: 0;
}
.gp-new-homepage__tagline {
  font-family: "SourceSansPro", "sans-serif";
  font-weight: 600;
  font-size: 16px;
}
.gp-new-homepage__start-city-text {
  font-family: "SourceSansPro", "sans-serif";
  font-size: 16px;
  display: inline-block;
  padding-right: 3px;
  margin-top: 16px;
}
.gp-new-homepage__btn-group {
  vertical-align: unset;
}

a {
  // color: #75c58c !important;
  background-color: transparent;
}




.gp-inline-link:before {
  // background-color: #75c58c;
}


.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}
.text-uppercase, .initialism {
  text-transform: uppercase;
}
b, strong {
  font-weight: bold;
}
.gp-new-homepage__content-container{
  width: 100%;
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gp-new-homepage__bg-container {
  background-image: url(/assets/bgimg.jpeg);

  // background-image: image("../");;
  width: 100%;
  height: 420px;
  margin-top: -390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.gp-activities__btn-container {
  margin-top: 40px;
  text-align: center;
  // text-transform: uppercase;
}
.gp-button--green {
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: none;
  letter-spacing: normal;
  word-spacing: normal;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #26c6da;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
}
// #hh{
//   text-align: center;
//   font-size: 42px !important;
//   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//   background-color: #26c6da;
//   padding: 10px;
//   border-radius: 5px;
//   color: white; 
// } 















.gp-new-homepage-logos__title {
  font-size: 28px;
  margin: 40px 0;
  text-align: center;
  font-weight: 500;
}



.how_it_works__bg {
  background-color: #f4f5f9;
}
.container {
  width: 750px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.how_it_works__header {
  font-size: 28px;
  margin: 40px 0;
  text-align: center;
  font-family: "BebasNeue", "Bebas", sans-serif;
}
.how_it_works__container {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
.col-sm-4 {
  width: 33.33333%;
  
}
}
.how_it_works__image {
  display: inline-block;
  max-width: 40%;
  vertical-align: top;
}
.how_it_works__content-container {
  display: inline-block;
  width: 55%;
  margin-left: 10px;
}
.how_it_works__title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
.how_it_works__content {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.how_it_works__content-container {
  display: inline-block;
  width: 55%;
  margin-left: 10px;
}



.main-image-wraper {
  width: 100%;
  overflow: hidden;
  margin: 0px;
  margin-top: -25px;
  margin-bottom: 16px;
  position: relative;
}
/* header START */
.cont-head {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.main-image {
  width: 96vw;
  height: 100vh;
}
.img-div-contenor {
  margin-top: 5rem;
}
.description {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  h1 {
    color: #fff;
  }
}
.sa-card {
  min-height: 345px;
}

.thumbnail-image {
  width: 100%;
  height: 177px;
  background-size: cover;
}
//Hamza ny kiya code For header
.header {
  margin-top: 60px;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(6, 197, 223, 0.5), rgba(0, 0, 0, 0.4)),
    url(../../../assets/img/2222.webp);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 3.5rem;
}

.header__logo {
  height: 6.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primry {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primry--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.heading-primry--sub {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  word-spacing: 10px;
  margin-right: 43px;
  margin-top: 20px;
  margin-left: 27px;
  animation: moveInRight 2s ease-out;
}
@media only screen and (max-width: 550px) {
  .header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(128, 141, 126, 0.8), rgba(40, 180, 133, 0.8)),
      url(../../../assets/img/2222.webp);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 3.5rem;
  }

  .header__logo {
    height: 7.5rem;
  }

  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primry {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .heading-primry--main {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  .heading-primry--sub {
    display: block;
    font-size: 1rem;
    font-weight: 33;
    margin-top: 6px;
    line-height: 2;
    margin-top: 10px;
    letter-spacing: 0.6rem;
    animation: moveInRight 2s ease-out;
  }
}
#carousel-example-2 {
  margin-top: 60px;
  height: 90vh;
  margin-bottom: 50px;
}
.carousel {
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  #carousel-example-2 {
    height: 30vh;
  }
}

@media screen and (max-width: 480px) {
  #carousel-example-2 {
    height: 30vh;
  }
}

@media screen and (max-width: 640px) {
  #carousel-example-2 {
    height: 30vh;
  }
}

.col-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-button {
  height: 50%;
  background: #00bcd4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
  .search-button-icon {
    font-size: 50px;
    // width: 100px;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.search-button:active {
  box-shadow: none;
}





.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-icon-only {
  width: 2.375rem;
  height: 2.375rem;
  padding: 0;
}
.btn {
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  will-change: transform;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.35rem 0.65rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  border-radius: 0.25rem;
  box-shadow: none;
  // -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:not(:last-child) {
  margin-right: .5rem;
}
.mb-lg, .my-lg {
  margin-bottom: 6rem !important;
}

@media (min-width: 1200px)
{
.container {
    max-width: 2000px;
}
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  /* margin-left: auto; */
}
.text-primary {
  color: #5e72e4 !important;
}
a:hover {
  color: #233dd2;
  text-decoration: none;
}
.footer.has-cards .container {
  pointer-events: auto;
 
}
body {

  text-align: center;

}