<app-confirm-dailog *ngIf="progress.isConfirmDialogShow" style="display: flex;"></app-confirm-dailog>
<div toastContainer></div>
<mat-progress-bar mode="indeterminate" *ngIf="progress.isShow" style="position: fixed" ></mat-progress-bar>
<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->

  