.btn_btn-info_pull-right{
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
padding: 12px 30px;
margin: 0.3125rem 1px;
min-width: auto;
font-size: .75rem;
font-weight: 400;
line-height: 1.42857143;
text-decoration: none;
text-transform: uppercase;
vertical-align: middle;
letter-spacing: 0;
cursor: pointer;
border: 0;
border-radius: 0.2rem;
outline: 0;
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
will-change: box-shadow, transform;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    .image-wraper{
        margin: 10px;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;;
        .cancel-btn{
            position: absolute;
            right: -12px;
            top:-12px;
            color:red;
            cursor: pointer;
        }
    }
}
.thumbnail-image{
    width: 100%;
    height: 177px;
    background-size: cover;
}
.error{
    color:red;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    background: blue !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
      background: blue !important;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
      background: green !important;
  }