<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{this.id?'Update':'post.add' | translate}} {{ 'post.post' | translate }}</h4>
                        <p class="card-category">{{ 'post.cyp' | translate }}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" ngxsForm="post.postForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12 col-xm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.title' | translate }}" formControlName="title">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <select matNativeControl formControlName="rateType">
                      <option value="">{{ 'post.ratetype' | translate }}</option>
                      <option [value]="rateType.ratePerHour">{{ 'post.perhour' | translate }}</option>
                      <option [value]="rateType.ratePerNight">{{ 'post.perday' | translate }}</option>
                      <option [value]="rateType.ratePerNight">{{ 'post.percourse' | translate }}</option>

                    </select>
                                    </mat-form-field>
                                    <!-- <mat-radio-group aria-label="Select an option" formControlName="rateType">
                    <mat-radio-button [value]="rateType.ratePerHour">Per hour</mat-radio-button>
                    <mat-radio-button [value]="rateType.ratePerNight">Per day</mat-radio-button>
                  </mat-radio-group> -->
                                </div>
                                <div class="col-md-12 col-xm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.rate' | translate }}" type="number" formControlName="rateValue">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12 col-xm-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="{{ 'post.type' | translate }}" type="text" formControlName="type" > -->
                                        <select matNativeControl formControlName="type">
                      <option value="">{{ 'post.spt' | translate }}</option>
                      <option [value]="type.yoga">Yoga</option>
                      <option [value]="type.bodybuilding">Pilates</option>
                      <option [value]="type.haircut">Fitness</option>
                      <option [value]="type.souna">Dance</option>
                      <option [value]="type.souna">Martial Arts</option>
                      <option [value]="type.souna">Massage</option>


                    </select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" hidden>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date" type="date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.street' | translate }}" type="text" formControlName="street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.postalcode' | translate }}" type="text" formControlName="postalCode">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.city' | translate }}" type="text" formControlName="city">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'post.country' | translate }}" type="text" formControlName="country">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input multiple placeholder="choose  file" class="form-control" type="file" (change)="onFileUpload($event)">
                                </div>
                                <div class='error' *ngIf="form.get('imageList').hasError('required') && form.touched">{{ 'post.aloir' | translate }}</div>
                                <div class="spainner" *ngIf="isLoaderShow">
                                    <mat-spinner mode="determinate" [value]="uploading | async"></mat-spinner>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="{{ 'post.description' | translate }}" type="text" formControlName="description"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <p class="card-category">Your available days and time</p>
                            <!-- <ejs-schedule id="schedule" [eventSettings]="eventSettings" [selectedDate]="setDate" [currentView]="setView"></ejs-schedule> -->
                            <!-- <ejs-schedule [selectedDate]='setDate' [currentView]='setView' [eventSettings]='eventSettings' (popupOpen)='onPopupOpen($event)'></ejs-schedule> -->
                            <ejs-schedule width='100%' height='550px' [selectedDate]='setDate' [currentView]='setView' [eventSettings]='eventSettings' (popupOpen)='onPopupOpen($event)'>
                                <ng-template #editorTemplate>
                                    <table class="custom-event-editor" width="100%" cellpadding="5">
                                        <tbody>
                                            <!-- <tr>
                                <td class="e-textlabel">Title</td>
                                <td colspan="4">
                                    <input id="Subject" class="e-field e-input" type="text" value="" name="Subject" style="width: 100%" />
                                </td>
                            </tr> -->
                                            <tr>
                                                <td class="e-textlabel">Number of customers</td>
                                                <td colspan="4">
                                                    <input type="text" id="EventType" name="EventType" class="e-field" style="width: 100%" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="e-textlabel">From</td>
                                                <td colspan="4">
                                                    <input id="StartTime" class="e-field" type="text" name="StartTime" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="e-textlabel">To</td>
                                                <td colspan="4">
                                                    <input id="EndTime" class="e-field" type="text" name="EndTime" />
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                <td class="e-textlabel">Details</td>
                                <td colspan="4">
                                    <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                                </td>
                            </tr> -->
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ejs-schedule>





                            <button mat-raised-button type="submit" class="btn btn-info pull-right">{{ 'post.save' | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{ 'post.upimages' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let image of imagesUrl; let i=index" class="image-wraper" [style.background-image]="'url('+image+')'">
                            <!-- <img [src]="image" class="image" /> -->
                            <span class="cancel-btn" (click)="onRemoveImage(i)"><i class="material-icons">{{ 'post.cancel' | translate }}</i></span>
                        </div>

                    </div>
                </div>
                <!-- <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Your available days and time</h4>
          </div>
          <div class="card-body">

           
          <button mat-raised-button type="submit" class="btn_btn-info_pull-right">{{ 'post.save' | translate }}</button>
            
          </div>
        </div> -->
            </div>

        </div>
    </div>
</div>