<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1>Blogs</h1>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="card" *ngFor="let blog of blogs">
          <div class="card-header">
            <div class="col-md-8 offset-md-1 ">
              <div class="card-title">
                <h3>{{ blog.title}}</h3>
              </div>
              <p class="card-category">{{blog.date|date}}</p>
            </div>
          </div>
          <div class="card-body">
            <div class="col-md-8 offset-md-1">
              <p>{{blog.note}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>