<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Sign up</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body" [hidden] = !flag  style="text-align: center;">
            <p style="font-size: larger; font-weight: bold;margin-top: 35px;">{{ 'signup.our_benifit' | translate }}</p>
            <mat-icon> money_off</mat-icon>
            <p>{{ 'signup.contracts' | translate }}</p>
            <mat-icon>subscriptions</mat-icon>
            <p>{{ 'signup.subscription' | translate }}</p>
            <mat-icon>card_membership</mat-icon>
            <p>{{ 'signup.membership' | translate }}</p>
            <mat-icon>assignment_ind</mat-icon>
            <p>{{ 'signup.registration' | translate }}</p>
            <mat-icon>supervised_user_circle</mat-icon>
            <p>{{ 'signup.flexibility' | translate }}</p>
            <p style="text-align: left;color: #00bcd4;" (click)="onshow()">{{ 'signup.gotit' | translate }}</p>
          </div>
          <div class="card-body" [hidden] = flag>
            <form [formGroup]="form" ngxsForm="auth.signupForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-md-12 col-xm-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="First Name" formControlName="firstname">
                      </mat-form-field>
                      <ng-container *ngFor="let error of error_messages.firstname">
                        <div class="error-message" *ngIf="form.get('firstname').hasError(error.type) && (form.get('firstname').dirty || form.get('firstname').touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" formControlName="lastname">
                      </mat-form-field>
                      <ng-container *ngFor="let error of error_messages.lastname">
                        <div class="error-message" *ngIf="form.get('lastname').hasError(error.type) && (form.get('lastname').dirty || form.get('lastname').touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Adress" type="text" formControlName="address">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter Phone" type="text" formControlName="phone">
                      </mat-form-field>
                    </div>
                  </div> -->
                </div>
                <div class="col-md-6 offset-md-1">
                  <div>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email address" type="email" formControlName="email" #userEmail>
                    </mat-form-field>
                    <ng-container *ngFor="let error of error_messages.email">
                      <div class="error-message" *ngIf="form.get('email').hasError(error.type) && 
                (form.get('email').dirty || form.get('email').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" type="password" formControlName="password" #userPwd>
                    </mat-form-field>
                    <ng-container *ngFor="let error of error_messages.password">
                      <div class="error-message" *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
                    </mat-form-field>
                    <ng-container *ngFor="let error of error_messages.passwordConfirm">
                      <div class="error-message" *ngIf="form.get('passwordConfirm').hasError(error.type) && (form.get('passwordConfirm').dirty || form.get('passwordConfirm').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                    <div class="error-message">
                      {{ mismatch }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="justify-content: center; display: flex;">
                  <button mat-raised-button type="submit" class="btn btn-info" style="width: 70%; font-size: 20px"
                    [disabled]="!form.valid" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                    Sign up</button>
                </div>
              </div>
              <div class="login-btn">
                <div>
                  <h4>Already have an account</h4>
                </div>
                <div>
                  <button mat-raised-button type="button" class="btn" [routerLink]="['/login']" >Log in</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>