.container {
  display: flex;
  position: fixed;
  top: 40%;
  flex-direction: column;
  left: 40%;
  background: white;
  padding: 20px;
  width: 50%;
}
.backdrop{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    background:rgba(0,0,0,0.3);
}