<div style="z-index: 9999999">
  <div class="backdrop">
  </div>
  <div class="container">
    <div mat-dialog-content>
      <p>You want to get insurance from Allianz?</p>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="onYesClick()" class="btn btn-info pull-right">Yes</button>
      <button mat-raised-button type="button" (click)="onNoClick()" class="btn btn-info pull-right">No</button>
    </div>
  </div>
</div>