<h1 mat-dialog-title>{{data?.title}}</h1>
<div mat-dialog-content>
  <div>
    <h6>{{data?.name}}</h6>
  </div>
  <div>
    <span [ngClass]="{'checked':starValue>=1}" (click)="onStart(1)" class="fa fa-star checked"></span>
    <span [ngClass]="{'checked':starValue>=2}" (click)="onStart(2)" class="fa fa-star checked"></span>
    <span [ngClass]="{'checked':starValue>=3}" (click)="onStart(3)" class="fa fa-star checked"></span>
    <span [ngClass]="{'checked':starValue>=4}" (click)="onStart(4)" class="fa fa-star"></span>
    <span [ngClass]="{'checked':starValue>=5}" (click)="onStart(5)" class="fa fa-star"></span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea placeholder="Your comment" type="text" [formControl]="comment"></textarea>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onClose()" class="btn btn-info pull-right">Save</button>
</div>