<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img class="img" [src]="(user | async)?.image " />
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{(user | async)?.name}}</h5>
            <h5 class="card-title" hidden>{{(user | async)?.email}}</h5>
            <hr>
            <p class="card-description">
              {{(user | async)?.status }}
            </p>
            <a href="#pablo" class="btn btn-info btn-round" hidden>Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h1>Reviews</h1>
          </div>
          <div class="card-body">
            <div class="feedback-wrapper" *ngFor="let item of feedback; let l=last">
              <div class="date">{{item.date | date}}</div>
              <div class="comment">
                <p>
                  {{item.review}}
                </p>
              </div>
              <div class="user-detail">
                {{item?.reviewFromUser?.name}}
              </div>
              <hr *ngIf="!l">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>