
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Reset password</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" ngxsForm="auth.loginForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'login.email' | translate }}" type="email" formControlName="email" #passwordResetEmail>
                    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                      {{ 'login.peve' | translate }}
                    </mat-error>
                    
                  </mat-form-field>
                  <!-- <input type="email" class="formControl_fogot_input" placeholder="Email Address" #passwordResetEmail required> -->
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="display: flex; justify-content: center;">
                  <!-- <button mat-raised-button type="submit" style="width: 70%" class="btn btn-info"
                    [disabled]="!form.valid">Reset password</button> -->
                    <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>