<div class="logo">
    
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="simple-text">
        <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div> -->
        <!-- Home -->
        {{ 'side.home' | translate }}
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form" hidden>
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item" hidden>
            <a class="nav-link" href="#pablo">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown" hidden>
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li>
        <li class="nav-item" hidden>
            <a class="nav-link" href="#pablo">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="!menuItem.fnCall">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{   menuItem.title   | translate}}</p>
            </a>
            <a style="cursor: pointer" class="nav-link" (click)="menuItem.fnCall()" *ngIf="menuItem.fnCall">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{ menuItem.title | translate}}</p>
            </a>

        </li>
                <!-- <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
                    {{currency}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="currencyMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                            <span>{{cur}}</span>
                        </button>
                    </span>
                </mat-menu>

                <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
                    <img [src]="language.image" width="18">
                    <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{language.name}}</span>
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="langMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                            <img [src]="flag.image" width="18"> {{flag.name}}
                        </button>
                    </span>
                </mat-menu> -->
    </ul>
    <div class="language" style="margin:20px">
        <!-- <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
            {{currency}}
        </a>
        <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
            <span (mouseleave)="currencyMenuTrigger.closeMenu()" style="z-index: 10500;">
                <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                    <span>{{cur}}</span>
                </button>
            </span>
        </mat-menu> -->
        <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
            <img [src]="language.image" width="18">
            <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{language.name}}</span>
            
        </a>
        <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
            <span (mouseleave)="langMenuTrigger.closeMenu()" style="z-index: 10500;">
                <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                    <img [src]="flag.image" width="18"> {{flag.name}}
                </button>
            </span>
        </mat-menu>
    </div>
</div>
