.spainner {
    position: fixed;
    top: 40%;
    left: 40%;
}

.image-wraper {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cancel-btn {
    position: absolute;
    right: -12px;
    top: -12px;
    color: red;
    cursor: pointer;
}