<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{ 'profile.editprofile' | translate }}</h4>
            <p class="card-category">{{ 'profile.completeyourprofile' | translate }}</p>
          </div>
          <div class="card-body">
            <form [formGroup]="form" ngxsForm="auth.signupForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12 col-xm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.name' | translate }}" formControlName="name">
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-xm-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.emailaddress' | translate }}" type="email" formControlName="email" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">

                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.street' | translate }}" type="text" formControlName="street">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.postalcode' | translate }}" type="text" formControlName="postalCode">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.city' | translate }}" type="text" formControlName="city">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.country' | translate }}" type="text" formControlName="country">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'profile.enterphone' | translate }}" type="text" formControlName="phone">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <select matNativeControl formControlName="photoIdType">
                      <option value="">{{ 'profile.selectdoctype' | translate }}</option>
                      <option value="passport">{{ 'profile.passport' | translate }}</option>
                      <option value="drivingLicense">{{ 'profile.drivinglicense' | translate }}</option>
                      <option value="passport">{{ 'profile.idcard' | translate }}</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input placeholder="choose  file" class="form-control" type="file" (change)="onFileUpload($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="{{ 'profile.aboutyourself' | translate }}" type="text" formControlName="status"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-info pull-right">{{ 'profile.update' | translate }}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <input #fileInput type="file" style="visibility:hidden" (change)="uploadProfileImage($event)" />
            <div class="card card-profile" (click)="openDialog()">
              <div class="card-avatar">
                <a>
                  <!-- <img class="img" [src]="(user | async)?.image " /> -->
                  <img class="img" [src]="image.value" />

                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">{{ 'profile.coitc' | translate }}</h6>
                <h5 class="card-title">{{(currentUser | async)?.name}}</h5>
                <h5 class="card-title">{{(currentUser | async)?.email}}</h5>
                <hr>
                <p class="card-description">
                  {{(currentUser | async)?.status }}
                </p>
                <a href="#pablo" class="btn btn-info btn-round" hidden>Follow</a>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">{{ 'profile.doctype' | translate }}</h4>
              </div>
              <div class="card-body">
                <div *ngIf="imagesUrl" class="image-wraper" [style.background-image]="'url('+imagesUrl+')'">
                  <!-- <img [src]="image" class="image" /> -->
                  <!-- <span class="cancel-btn" (click)="onRemoveImage(i)"><i class="material-icons">cancel</i></span> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" style="margin-top: -50px">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h1>Reviews</h1>
      </div>
      <div class="card-body">
        <div class="feedback-wrapper" *ngFor="let item of feedback; let l=last">
          <div class="date">{{item.date | date}}</div>
          <div class="comment">
            <p>
              {{item.review}}
            </p>
          </div>
          <div class="user-detail">
            {{item?.reviewFromUser?.name}}
          </div>
          <hr *ngIf="!l">
        </div>
      </div>
    </div>
  </div>
</div>